body {
	font-family: arial;
	color: white;
	text-align: center;
	background-color: #CD5C5C;
}
h1 {
	font-size: 200%;
	font-family: Century Gothic, sans-serif;
}

.clockText {
	font-size: 500%;
}

.cold {
	background-color: #95A5A6;
}
.chilly {
	background-color: #1ABC9C;
}
.nice {
	background-color: #2980B9;
}
.warm {
	background-color: #E67E22;
}
.hot {
	background-color: #E74C3C;
}